@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  background-color: #f2e7c2;
  color: #423f35;
  overflow-x: hidden;
}

::selection {
  background-color: #92a78c;
  color: #423f35;
}

.material-symbols-outlined {
  user-select: none;
}

.header--main {
  font-size: 4.5rem;
}
.header--main--emphasized {
  position: relative;
  width: max-content;
  z-index: 10;
}
.header--main--emphasized::before {
  content: "";
  width: 100%;
  height: 50%;
  background-color: #92a78c;
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: -1;
}
.header--main--emphasized-secondary {
  position: relative;
  width: max-content;
  z-index: 10;
}
.header--main--emphasized-secondary::before {
  content: "";
  width: 100%;
  height: 50%;
  background-color: #f79e6b;
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: -1;
}
.header--sub {
  font-size: 2rem;
}

.nav {
  background-color: #423f35;
  height: 7rem;
  display: flex;
}
.nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-list__item {
  display: inline-block;
  width: 10rem;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-list__item a {
  font-size: 1.5rem;
  color: #f2e7c2;
  text-decoration: none;
  text-align: center;
}
.nav-list__item--active {
  background-color: #f2e7c2;
}
.nav-list__item--active a {
  color: #423f35;
}
.nav-list__item-line {
  width: 100%;
  height: 0.7rem;
  background-color: #f7cd82;
  position: absolute;
  bottom: -2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.nav-list__item:hover .nav-list__item-line {
  transform: scaleX(1);
  background-color: #f2e7c2;
}
@media screen and (max-width: 600px) {
  .nav-list {
    display: none;
  }
}

.burger-btn {
  width: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.burger-btn span {
  font-size: 3.5rem;
  color: #f2e7c2;
}
@media screen and (max-width: 600px) {
  .burger-btn {
    display: flex;
  }
}

.phone-menu {
  width: 100vw;
  height: 100vh;
  background-color: #423f35;
  transition: 0.3s;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  transform: translateX(-100vw);
}
.phone-menu--active {
  transform: translateX(0);
}
.phone-menu-list {
  width: 70%;
}
.phone-menu-list__item {
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.phone-menu-list__item a {
  color: #f2e7c2;
  text-decoration: none;
  font-size: 2.5rem;
}
.phone-menu-list__item--active {
  background-color: #92a78c;
}
.phone-menu__close-btn {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.phone-menu__close-btn span {
  color: #f2e7c2;
  font-size: 3.5rem;
}

.site {
  height: 45rem;
  border: 0.3rem solid #423f35;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 2rem 2rem #423f35;
}
.site-img {
  height: 45%;
  background-size: cover;
  background-position: center;
}
.site-img--1 {
  background-image: linear-gradient(45deg, rgba(66, 63, 53, 0.7), rgba(66, 63, 53, 0.7)), url("../img/delfi.png");
}
.site-img--2 {
  background-image: linear-gradient(45deg, rgba(66, 63, 53, 0.7), rgba(66, 63, 53, 0.7)), url("../img/storygraph.png");
}
.site-img--3 {
  background-image: linear-gradient(45deg, rgba(66, 63, 53, 0.7), rgba(66, 63, 53, 0.7)), url("../img/spotify.png");
}
.site-img--4 {
  background-image: linear-gradient(45deg, rgba(66, 63, 53, 0.7), rgba(66, 63, 53, 0.7)), url("../img/google-fonts.png");
}
.site-img--5 {
  background-image: linear-gradient(45deg, rgba(66, 63, 53, 0.7), rgba(66, 63, 53, 0.7)), url("../img/youtube.png");
}
.site-img--6 {
  background-image: linear-gradient(45deg, rgba(66, 63, 53, 0.7), rgba(66, 63, 53, 0.7)), url("../img/rd-live.png");
}
.site-title {
  width: max-content;
  padding: 1rem 2rem;
  margin-left: 2rem;
  background-color: #92a78c;
  font-size: 3rem;
  border: 0.3rem solid #f2e7c2;
  transform: translateY(-50%);
}
.site-link {
  padding: 1rem 2rem;
  background-color: #423f35;
  margin-left: 2rem;
  color: #f2e7c2;
}
@media screen and (max-width: 600px) {
  .site-link {
    font-size: 1.2rem;
  }
}
.site-description {
  height: 17rem;
  background-color: #423f35;
  margin: 2rem;
  margin-top: 0;
  padding: 1rem;
  clip-path: inset(0rem 0rem 13.1rem 0rem);
  transition: 0.3s cubic-bezier(0.92, 0.44, 0.61, 0.86);
}
.site-description:hover {
  clip-path: inset(0rem 0rem 0rem 0rem);
}
.site-description__link {
  color: #f2e7c2;
  display: inline-block;
  height: 2rem;
  margin-bottom: 0.5rem;
}
.site-description__text {
  color: #f2e7c2;
}

.site #wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

.btn {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  padding: 1.5rem 3.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn:focus {
  outline: none;
}
.btn--primary {
  background-color: #423f35;
  color: #f2e7c2;
}
.btn--secondary {
  background-color: #f2e7c2;
  color: #423f35;
}
.btn--secondary:hover {
  background-color: #e0cf95;
}

.github-btn {
  background-color: #1b1f23;
  padding-right: 2rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.github-btn__img {
  width: 5rem;
}

.ranking {
  background-color: #423f35;
  color: #f2e7c2;
  width: 50%;
  padding: 2rem;
  border-radius: 0.5rem;
  align-self: center;
  justify-self: center;
}
@media screen and (max-width: 600px) {
  .ranking {
    width: 70%;
  }
}
.ranking-title {
  border-bottom: 1px solid #f2e7c2;
}
.ranking-list {
  list-style-type: none;
}
.ranking-list-item {
  margin-top: 0.5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: min-content 1fr;
}
.ranking-list-item__number {
  grid-row: 1/3;
  align-self: center;
  font-size: 3rem;
  color: #f7cd82;
}
.ranking-list-item__name, .ranking-list-item__subtitle {
  padding: 0.1rem;
  padding-left: 2rem;
}
.ranking-list-item__name {
  font-weight: bold;
  font-size: 1.7rem;
}
.ranking-list-item__subtitle {
  font-size: 1.4rem;
}

.languages {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.languages .language {
  width: max-content;
  padding: 1rem;
  border-radius: 1.5rem;
  color: #fff;
  user-select: none;
  cursor: pointer;
}

.html {
  background-color: #e34e27;
}

.css {
  background-color: #30a7d7;
}

.js {
  background-color: #f7df1d;
}

.node {
  background-color: #72aa64;
}

.express {
  background-color: #969696;
}

.mongo {
  background-color: #0faa50;
}

.mongoose {
  background-color: #840c10;
}

.pug {
  background-color: #efcca4;
}

.sass {
  background-color: #c69;
}

.home-header {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.menu-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.menu {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.menu__item {
  width: 11rem;
  height: 11rem;
  background-color: #e0cf95;
  color: #423f35;
  border: 0.3rem solid #423f35;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  box-shadow: 1.2rem 1.2rem #423f35;
}
.menu__item-title {
  color: #423f35;
  text-decoration: none;
}
.menu__item span {
  font-size: 4rem;
  user-select: none;
}
.menu__item--3 {
  grid-column: 1/-1;
  justify-self: center;
}
.menu__item:hover {
  background-color: #f2e7c2;
  transform: translate(-0.5rem, -0.5rem);
  box-shadow: 0.5rem 0.5rem #423f35;
}

.container {
  height: calc(100vh - 7rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 5rem;
    height: min-content;
    align-items: flex-start;
  }
}

.info-container {
  height: 70%;
  padding: 2rem;
  background-color: #e0cf95;
  border: 0.3rem solid #423f35;
  border-radius: 0.5rem;
  box-shadow: 2rem 2rem #423f35;
}
@media screen and (max-width: 1024px) {
  .info-container {
    height: min-content;
  }
  .info-container h1 {
    font-size: 3.5rem;
  }
}

.general-info {
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .general-info {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .general-info {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .general-info {
    width: 100%;
  }
}
.general-info__img {
  width: 35%;
  border: 3px solid #423f35;
  border-radius: 0.5rem;
}
@media screen and (max-width: 480px) {
  .general-info__img {
    width: 50%;
  }
}
.general-info__text {
  margin-top: 2rem;
}
.general-info__text__table {
  margin-top: 1rem;
}
.general-info__text__table td {
  padding: 3px 5px;
}

.bio {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .bio {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .bio {
    width: 100%;
  }
}
.bio__text {
  margin-top: 2rem;
}
.bio__text > p {
  margin-bottom: 1rem;
}

.sites-container {
  width: 90vw;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 35rem));
  justify-content: center;
  gap: 5rem;
}
@media screen and (max-width: 600px) {
  .sites-container {
    width: 80vw;
  }
}

.intro {
  height: calc(100vh - 7rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.intro__content {
  width: 100%;
  height: 100%;
  background-image: url("../img/graph (1).png");
  background-position: center 40%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.intro__content-title {
  font-size: 3.5rem;
  color: #f2e7c2;
}

.rock {
  background-color: #92a78c;
}

.genre {
  height: 100vh;
  padding: 2rem;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .genre {
    height: min-content;
    padding-bottom: 10rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
.genre__title {
  font-size: 4rem;
  padding: 1.5rem 2.5rem;
  background-color: #423f35;
  color: #f2e7c2;
  position: relative;
}
.genre__title--rock {
  margin-top: 4rem;
  margin-left: 4rem;
  transform: rotateZ(-10deg);
  align-self: start;
  justify-self: center;
}
.genre__title--hiphop {
  margin-top: 4rem;
  margin-right: 4rem;
  transform: rotateZ(10deg);
  align-self: start;
  justify-self: center;
}
@media screen and (max-width: 1024px) {
  .genre__title {
    align-self: center;
    justify-self: center;
    margin: 0;
  }
}
.genre__title::before, .genre__title::after {
  content: "";
  width: 10rem;
  height: 1.5rem;
  background-color: rgba(242, 231, 194, 0.5);
  position: absolute;
}
.genre__title::before {
  top: -0.5rem;
  left: -3rem;
  transform: rotateZ(-30deg);
}
.genre__title::after {
  bottom: -0.5rem;
  right: -3rem;
  transform: rotateZ(-40deg);
}
.genre__pictures {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.genre__pictures-container {
  position: absolute;
  transition: 0.3s;
}
.genre__pictures-container-img {
  width: 22rem;
  height: 28rem;
  background-color: #f2e7c2;
  padding: 1rem;
  box-shadow: 0 0 0.5rem #423f35;
  cursor: pointer;
}
.genre__pictures-container:hover {
  z-index: 100;
  transform: scale(1.1, 1.1);
}
.genre__pictures-container:hover .genre__pictures-container-img {
  box-shadow: 0 0 0.5rem 0.3rem #423f35;
}
.genre__pictures-container--1 {
  right: 25%;
  z-index: 3;
}
.genre__pictures-container--1 .genre__pictures-container-img {
  transform: rotateZ(5deg);
}
.genre__pictures-container--2 {
  right: 40%;
  z-index: 2;
}
.genre__pictures-container--2 .genre__pictures-container-img {
  transform: rotateZ(-5deg);
}
.genre__pictures-container--3 {
  top: 7%;
  right: 15%;
  z-index: 1;
}
.genre__pictures-container--3 .genre__pictures-container-img {
  transform: rotateZ(7deg);
}
.genre__next-btn {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  padding: 1rem 1.2rem;
  transition: 0.3s;
}
.genre__next-btn:hover {
  bottom: 1.7rem;
}

.hiphop {
  background-color: #f79e6b;
}

.indie {
  background-color: #f7cd82;
}

.books__container {
  height: min-content;
  padding: 5rem 0;
}
.books__container-rating {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.books__container-rating-visible {
  width: 50%;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.books__container-rating-visible:hover {
  width: 100%;
}
.books__container-rating-visible:hover + .ranking {
  height: 35rem;
  padding: 2rem;
}
.books__container-rating-visible:hover + .ranking > * {
  display: block;
}
.books__container-rating__bar {
  height: 5rem;
  background-color: #423f35;
  cursor: pointer;
}
.books__container-rating__bar--5 {
  width: 100%;
}
.books__container-rating__bar--4 {
  width: 80%;
}
.books__container-rating__bar--3 {
  width: 60%;
}
.books__container-rating__bar--2 {
  width: 40%;
}
.books__container-rating__bar--1 {
  width: 20%;
}
.books__container-rating__rating {
  font-size: 2.5rem;
  font-weight: bold;
}
.books__container-rating .ranking {
  width: 30%;
  margin-left: 5rem;
  align-self: flex-start;
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.5s;
}
.books__container-rating .ranking > * {
  display: none;
}
@media screen and (max-width: 768px) {
  .books__container-rating .ranking {
    margin-left: 2rem;
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .books__container-rating .ranking {
    width: 70%;
  }
}

.sport {
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .sport {
    padding: 4rem;
  }
}
.sport .header {
  margin-bottom: 3rem;
}
.sport__court {
  width: 70rem;
  border: 0.3rem solid #423f35;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 2rem 2rem #423f35;
}
.sport__court--basketball {
  width: 70rem;
  height: 50rem;
  background-image: url("../img/basketball-court-half.jpg");
  background-size: 100%;
}
@media screen and (max-width: 768px) {
  .sport__court--basketball {
    background-size: cover;
    background-position: center;
  }
}
.sport__court--football {
  height: 30rem;
  background-image: url("../img/football-field.jpg");
  background-size: 100%;
  background-position-y: -1rem;
}
@media screen and (max-width: 768px) {
  .sport__court--football {
    background-size: cover;
    background-position: center;
  }
}
.sport__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  flex-wrap: wrap;
}
.sport__text {
  height: 50rem;
  width: 40rem;
  border: 0.3rem solid #423f35;
  border-radius: 0.5rem;
  box-shadow: 2rem 2rem #423f35;
}
@media screen and (max-width: 768px) {
  .sport__text {
    width: 100%;
    height: max-content;
  }
}
.sport__text-p {
  font-size: 1.7rem;
  padding: 2rem;
}

.basketball-wrapper-x {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 70%;
  left: 10%;
  animation: move-basketball-x 3s ease-in-out 0s infinite alternate;
}

.basketball-wrapper-y {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f79e6b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  animation: move-basketball-y 3s ease-in-out 0s infinite alternate;
}
@media screen and (max-width: 480px) {
  .basketball-wrapper-y {
    animation: move-basketball-y--mobile 3s ease-in-out 0s infinite alternate;
  }
}

.basketball {
  font-size: 5rem !important;
}
.basketball-x {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}
.basketball-x--1 {
  top: 5%;
  left: 5%;
}
.basketball-x--2 {
  top: 70%;
  left: 7%;
}
.basketball-x--3 {
  top: 80%;
  left: 33rem;
}
@media screen and (max-width: 480px) {
  .basketball-x--3 {
    left: 20rem;
  }
}

@keyframes move-basketball-x {
  0% {
    top: 70%;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 80%;
  }
}
@keyframes move-basketball-y {
  0% {
    left: 0;
  }
  25% {
    left: 10rem;
  }
  50% {
    left: 0;
  }
  100% {
    left: 30rem;
  }
}
@keyframes move-basketball-y--mobile {
  0% {
    left: 1rem;
  }
  25% {
    left: 10rem;
  }
  50% {
    left: 1rem;
  }
  100% {
    left: 20rem;
  }
}
.football {
  margin-top: 5rem;
  padding-bottom: 5rem;
  font-size: 5rem;
}
.football-x {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.football-x--1 {
  left: 10%;
}
.football-x--2 {
  left: 20%;
  animation: move-reciever 2s ease-in-out 0s infinite alternate;
}

.football-wrapper--x {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 30%;
  left: 13%;
  animation: move-football--x 2s ease-in-out 0s infinite alternate;
}

.football-wrapper--y {
  width: 100%;
  height: 100%;
  background-color: #423f35;
  border-top-left-radius: 59%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 59%;
  border-bottom-left-radius: 1rem;
  position: absolute;
  animation: move-football--y 2s ease-in-out 0s infinite alternate;
}
.football-wrapper--y > span {
  font-size: 5rem;
  color: #f2e7c2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}

@keyframes move-reciever {
  0% {
    left: 20%;
  }
  100% {
    left: 80%;
  }
}
@keyframes move-football--x {
  0% {
    left: 13%;
  }
  100% {
    left: 80%;
  }
}
@keyframes move-football--y {
  0% {
    bottom: 0;
    transform: rotateZ(0deg);
  }
  50% {
    bottom: 7rem;
    transform: rotateZ(45deg);
  }
  100% {
    bottom: 0;
    transform: rotateZ(90deg);
  }
}
.projects__container {
  height: max-content;
  padding: 4rem;
}

.projects {
  height: max-content;
  width: 80%;
  margin: 0 auto;
  border: 0.3rem solid #423f35;
  border-radius: 0.5rem;
  box-shadow: 2rem 2rem #423f35;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  .projects {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 2fr);
  }
}

.project {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.project__title {
  width: max-content;
  padding: 1rem;
}
.project__img {
  border: 0.1rem solid #423f35;
  border-radius: 0.3rem;
}

.sim-racing {
  background-color: #423f35;
  color: #f2e7c2;
}
@media screen and (max-width: 600px) {
  .sim-racing {
    order: 2;
    border: 0.1rem solid #f2e7c2;
    border-radius: 0.3rem;
  }
}
.sim-racing__img {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .sim-racing__img {
    width: 100%;
  }
}
.sim-racing .project__title {
  background-color: #f2e7c2;
  color: #423f35;
}

@media screen and (max-width: 600px) {
  .mapster {
    order: 1;
  }
}
.mapster__img {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .mapster__img {
    width: 50%;
  }
}
.mapster .project__title {
  background-color: #423f35;
  color: #f2e7c2;
}

.guitar-container {
  height: calc(100vh - 7rem);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
@media screen and (max-width: 768px) {
  .guitar-container {
    height: min-content;
  }
}

.guitar {
  height: min-content;
  width: 50%;
  border: 0.3rem solid #423f35;
  border-radius: 0.3rem;
  padding: 2rem;
  position: relative;
  box-shadow: 2rem 2rem #423f35;
}
@media screen and (max-width: 1024px) {
  .guitar {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .guitar {
    width: 90%;
  }
}
.guitar__video-container {
  width: 50%;
  border: 0.3rem solid #423f35;
  border-radius: 0.3rem;
}
.guitar__video-container__caption {
  padding: 1rem;
}
@media screen and (max-width: 600px) {
  .guitar__video-container {
    width: 100%;
  }
}
.guitar__video {
  width: 100%;
}
.guitar__p {
  margin-top: 2rem;
  width: 80%;
}
.guitar__wave {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}

/*# sourceMappingURL=style.css.map */
