@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

$color-primary-light: #f2e7c2;
$color-primary-medium: #e0cf95;
$color-primary-dark: #423f35;
$color-accent-green: #92a78c;
$color-accent-orange: #f79e6b;
$color-accent-yellow: #f7cd82;

$font-main: "Playfair Display", serif;

$bp-largest: 1280px;
$bp-large: 1024px;
$bp-medium: 768px;
$bp-small: 600px;
$bp-smallest: 480px;
// 320px
