@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  font-size: 1.5rem;
  font-family: $font-main;
  padding: 1.5rem 3.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &:focus {
    outline: none;
  }

  &--primary {
    background-color: $color-primary-dark;
    color: $color-primary-light;
  }

  &--secondary {
    background-color: $color-primary-light;
    color: $color-primary-dark;

    &:hover {
      background-color: $color-primary-medium;
    }
  }
}

.github-btn {
  background-color: #1b1f23;
  padding-right: 2rem;
  color: #fff;
  text-decoration: none;

  @include flex($justify: flex-start, $gap: 1rem);

  &__img {
    width: 5rem;
  }
}
