@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.home-header {
  text-align: center;
  padding: 2rem;

  @include flex($direction: column);
}

.menu-container {
  padding: 2rem;

  @include flex($justify: center);
}

.menu {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  &__item {
    width: 11rem;
    height: 11rem;
    background-color: $color-primary-medium;
    color: $color-primary-dark;
    border: 0.3rem solid $color-primary-dark;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    user-select: none;

    @include flex($direction: column, $gap: 0.7rem);
    @include shadow(1.2rem, 1.2rem);

    &-title {
      color: $color-primary-dark;
      text-decoration: none;
    }

    & span {
      font-size: 4rem;
      user-select: none;
    }

    &--3 {
      grid-column: 1 / -1;
      justify-self: center;
    }

    &:hover {
      background-color: $color-primary-light;
      transform: translate(-0.5rem, -0.5rem);

      @include shadow(0.5rem, 0.5rem);
    }
  }
}
