@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.intro {
  height: calc(100vh - 7rem);
  width: 100%;

  @include flex($align: center, $justify: center);

  &__content {
    width: 100%;
    height: 100%;
    background-image: url("/it-projekat/img/graph (1).png");
    background-position: center 40%;
    background-repeat: no-repeat;

    @include flex(
      $align: center,
      $justify: center,
      $direction: column,
      $gap: 3rem
    );

    &-title {
      font-size: 3.5rem;
      color: $color-primary-light;
    }
  }
}

.rock {
  height: 100vh;
  background-color: $color-accent-green;
  padding: 2rem;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  &__title {
    font-size: 4rem;
    padding: 1.5rem 2.5rem;
    margin-top: 4rem;
    margin-left: 4rem;
    background-color: $color-primary-dark;
    color: $color-primary-light;
    transform: rotateZ(-10deg);
    position: relative;

    align-self: start;
    justify-self: start;

    &::before,
    &::after {
      content: "";
      width: 10rem;
      height: 1.5rem;
      background-color: rgba($color-primary-light, 0.5);
      position: absolute;
    }

    &::before {
      top: -0.5rem;
      left: -3rem;
      transform: rotateZ(-30deg);
    }

    &::after {
      bottom: -0.5rem;
      right: -3rem;
      transform: rotateZ(-40deg);
    }
  }

  &__songs {
    background-color: $color-primary-dark;
    color: $color-primary-light;
    width: 50%;
    padding: 2rem;
    border-radius: 0.5rem;

    align-self: center;
    justify-self: center;

    &-title {
      border-bottom: 1px solid $color-primary-light;
    }

    &-list {
      list-style-type: none;

      &-item {
        margin-top: 0.5rem;

        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: min-content 1fr;

        &__number {
          grid-row: 1 / 3;
          align-self: center;
          font-size: 3rem;
          color: $color-accent-yellow;
        }

        &__song,
        &__band {
          padding: 0.1rem;
          padding-left: 2rem;
        }

        &__song {
          font-weight: bold;
          font-size: 1.7rem;
        }

        &__band {
          font-size: 1.4rem;
        }
      }
    }
  }

  &__pictures {
    position: relative;

    &-container {
      position: absolute;
      transition: 0.3s;

      &-img {
        width: 22rem;
        height: 28rem;
        background-color: $color-primary-light;
        padding: 1rem;
        box-shadow: 0 0 0.5rem $color-primary-dark;
        cursor: pointer;
      }

      &:hover {
        z-index: 100;
        transform: scale(1.1, 1.1);

        & .rock__pictures-container-img {
          box-shadow: 0 0 0.5rem 0.3rem $color-primary-dark;
        }
      }

      &--1 {
        left: 15%;
        z-index: 3;

        & .rock__pictures-container-img {
          transform: rotateZ(5deg);
        }
      }

      &--2 {
        left: 5%;
        z-index: 2;

        & .rock__pictures-container-img {
          transform: rotateZ(-5deg);
        }
      }

      &--3 {
        top: 7%;
        left: 30%;
        z-index: 1;

        & .rock__pictures-container-img {
          transform: rotateZ(7deg);
        }
      }
    }
  }
}
