@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.intro {
  height: calc(100vh - 7rem);
  width: 100%;

  @include flex($align: center, $justify: center);

  &__content {
    width: 100%;
    height: 100%;
    background-image: url("/it-projekat/img/graph (1).png");
    background-position: center 40%;
    background-repeat: no-repeat;

    @include flex(
      $align: center,
      $justify: center,
      $direction: column,
      $gap: 3rem
    );

    &-title {
      font-size: 3.5rem;
      color: $color-primary-light;
    }
  }
}

.rock {
  background-color: $color-accent-green;
}

.genre {
  height: 100vh;
  padding: 2rem;
  position: relative;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media screen and (max-width: $bp-large) {
    height: min-content;
    padding-bottom: 10rem;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  &__title {
    font-size: 4rem;
    padding: 1.5rem 2.5rem;
    background-color: $color-primary-dark;
    color: $color-primary-light;
    position: relative;

    &--rock {
      margin-top: 4rem;
      margin-left: 4rem;
      transform: rotateZ(-10deg);

      align-self: start;
      justify-self: center;
    }

    &--hiphop {
      margin-top: 4rem;
      margin-right: 4rem;
      transform: rotateZ(10deg);

      align-self: start;
      justify-self: center;
    }

    @media screen and (max-width: $bp-large) {
      align-self: center;
      justify-self: center;
      margin: 0;
    }

    &::before,
    &::after {
      content: "";
      width: 10rem;
      height: 1.5rem;
      background-color: rgba($color-primary-light, 0.5);
      position: absolute;
    }

    &::before {
      top: -0.5rem;
      left: -3rem;
      transform: rotateZ(-30deg);
    }

    &::after {
      bottom: -0.5rem;
      right: -3rem;
      transform: rotateZ(-40deg);
    }
  }

  &__pictures {
    position: relative;

    @include flex($align: center, $justify: center);

    &-container {
      position: absolute;
      transition: 0.3s;

      &-img {
        width: 22rem;
        height: 28rem;
        background-color: $color-primary-light;
        padding: 1rem;
        box-shadow: 0 0 0.5rem $color-primary-dark;
        cursor: pointer;
      }

      &:hover {
        z-index: 100;
        transform: scale(1.1, 1.1);

        & .genre__pictures-container-img {
          box-shadow: 0 0 0.5rem 0.3rem $color-primary-dark;
        }
      }

      &--1 {
        right: 25%;
        z-index: 3;

        & .genre__pictures-container-img {
          transform: rotateZ(5deg);
        }
      }

      &--2 {
        right: 40%;
        z-index: 2;

        & .genre__pictures-container-img {
          transform: rotateZ(-5deg);
        }
      }

      &--3 {
        top: 7%;
        right: 15%;
        z-index: 1;

        & .genre__pictures-container-img {
          transform: rotateZ(7deg);
        }
      }
    }
  }

  &__next-btn {
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    padding: 1rem 1.2rem;
    transition: 0.3s;

    &:hover {
      bottom: 1.7rem;
    }
  }
}

.hiphop {
  background-color: $color-accent-orange;
}

.indie {
  background-color: $color-accent-yellow;
}
