@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.projects__container {
  height: max-content;
  padding: 4rem;
}

.projects {
  height: max-content;
  width: 80%;
  margin: 0 auto;
  border: 0.3rem solid $color-primary-dark;
  border-radius: 0.5rem;

  @include shadow(2rem, 2rem);

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: $bp-medium) {
    width: 100%;
  }

  @media screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 2fr);
  }
}

.project {
  padding: 2rem;

  @include flex(
    $align: flex-start,
    $justify: flex-start,
    $direction: column,
    $gap: 1rem
  );

  &__title {
    width: max-content;
    padding: 1rem;
  }

  &__img {
    border: 0.1rem solid $color-primary-dark;
    border-radius: 0.3rem;
  }
}

.sim-racing {
  background-color: $color-primary-dark;
  color: $color-primary-light;

  @media screen and (max-width: $bp-small) {
    order: 2;
    border: 0.1rem solid $color-primary-light;
    border-radius: 0.3rem;
  }

  &__img {
    width: 70%;

    @media screen and (max-width: $bp-medium) {
      width: 100%;
    }
  }

  & .project__title {
    background-color: $color-primary-light;
    color: $color-primary-dark;
  }
}

.mapster {
  @media screen and (max-width: $bp-small) {
    order: 1;
  }

  &__img {
    width: 30%;

    @media screen and (max-width: $bp-medium) {
      width: 50%;
    }
  }

  & .project__title {
    background-color: $color-primary-dark;
    color: $color-primary-light;
  }
}
