@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.sport {
  padding: 2rem;

  & .header {
    margin-bottom: 3rem;
  }

  &__court {
    width: 70rem;
    height: 50rem;
    background-image: url("/it-projekat/img/basketball-court-half.jpg");
    background-size: 100%;
    border: 0.3rem solid $color-primary-dark;
    border-radius: 0.5rem;
    position: relative;

    @include shadow(2rem, 2rem);
  }

  &__content {
    @include flex($align: center, $justify: flex-start, $gap: 5rem);
  }

  &__text {
    height: 50rem;
    width: 40rem;
    border: 0.3rem solid $color-primary-dark;
    border-radius: 0.5rem;

    @include shadow(2rem, 2rem);

    &-p {
      font-size: 1.7rem;
      padding: 2rem;
    }
  }
}

.basketball-wrapper-x {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 70%;
  left: 10%;
  animation: move-basketball-x 3s ease-in-out 0s 5 alternate;
}

.basketball-wrapper-y {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-accent-orange;

  @include flex($align: center, $justify: center);

  animation: move-basketball-y 3s ease-in-out 0s 5 alternate;
}

.basketball {
  font-size: 5rem !important;

  &-x {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;

    &--1 {
      top: 5%;
      left: 5%;
    }

    &--2 {
      top: 70%;
      left: 7%;
    }

    &--3 {
      top: 80%;
      left: 50%;
    }
  }
}

@keyframes move-basketball-x {
  0% {
    top: 70%;
  }

  50% {
    top: 10%;
  }

  100% {
    top: 80%;
  }
}

@keyframes move-basketball-y {
  0% {
    left: 0;
  }

  25% {
    left: 10rem;
  }

  50% {
    left: 0;
  }

  100% {
    left: 30rem;
  }
}
